html, body {
  height: 100%;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
}

.top {
  display: flex;
  flex-direction: column;

  height: 100%;

  background-color: #7777ff;
}
.bottom {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  background-color: #cccccc;
}
.menubar {
  background-color: #7777ff;
}
.sideNav {
  background-color: #7777ff;
}
.sideNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.clientArea {
  flex-grow: 1;
  background-color: #9999ff;
  padding: 4px;
}
.lightUIPadding {
  padding: 4px;
}
.heavyUIPadding {
  padding: 6px;
}
.vertFill {
  height: 100%;
}

.clear {
  clear: both;
}
.centerParent {
  display: inline-block;
  text-align: center;
  width:100%;
}
.centerChild {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.centerChild_test {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100px;
  height:100px;
  background-color: yellow;
}
.tile2 {
  background: #fff;
  border: 1px dotted #cccccc;
  float: left;
  padding: 0;
  text-align: center;
}

div.tile2:hover {
  border: 1px solid #ffffff;
}